<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sleep_Apnea.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
				<key>dateExpires</key>
				<string>2022-08-14</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E2876DE24317B078459347028FE2DC4A65E93C4E</string>
						<key>dateExpires</key>
						<string>2022-08-14</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>L52J7UVT74</string>
						<key>name</key>
						<string>McGill University (Electrical and Computer Engineering)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>L52J7UVT74.HamzaSleep-Apnea</string>
				<key>com.apple.developer.team-identifier</key>
				<string>L52J7UVT74</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>L52J7UVT74.HamzaSleep-Apnea</string>
				</array>
			</dict>
			<key>name</key>
			<string>Sleep_Apnea.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>109b6996-aa0a-4b19-9eb2-0805fa055831</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>L52J7UVT74</string>
				<key>name</key>
				<string>McGill University (Electrical and Computer Engineering)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
