<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691507124869-is90d9ssvsk6shruue8ui9nql6vrpgpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691507124869-is90d9ssvsk6shruue8ui9nql6vrpgpe</string>
	<key>API_KEY</key>
	<string>AIzaSyBtq4iU1FBWrhJPaerZvtHWgQgrZt625zs</string>
	<key>GCM_SENDER_ID</key>
	<string>691507124869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hamza.Sleep-Apnea</string>
	<key>PROJECT_ID</key>
	<string>sleep-apnea-422ff</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-apnea-422ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691507124869:ios:74d74395888f1a0f78a7ec</string>
	<key>DATABASE_URL</key>
	<string>https://sleep-apnea-422ff-default-rtdb.firebaseio.com</string>
</dict>
</plist>